{% extends "AppCommonLayoutBundle:LayoutDefault:index.html.twig" %}

{% block content %}

<div class="tableActions">
{% if is_granted('notebook.create') %}
	<a href="{{ url('app_module_notebook.ui.notebook.create') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create notebook</a>
{% endif %}
</div>

<table class="table">
	<thead>
		<tr>
			<th>{{ knp_pagination_sortable(itemsPagination, 'Notebook', 'item.name') }}</th>
			<th>Actions</th>
		</th>
	</thead>
	<tbody>
{% for item in items %}
		<tr>
			<td>
{% if is_granted('notebook.view', item) %}
				<a href="{{ url('app_module_notebook.ui.notebook.view', { slug: item.slug }) }}" title="View {{ item.name }}">
				{{ item.name }}
				</a>
{% else %}
				{{ item.name }}
{% endif %}
			</td>
			<td>
{% if is_granted('notebook.view', item) %}
				<a href="{{ url('app_module_notebook.ui.notebook.view', { slug: item.slug }) }}" title="View {{ item.name }}"><span class="glyphicon glyphicon-list-alt"></span></a>
{% endif %}
{% if is_granted('notebook.update', item) %}
				<a href="{{ url('app_module_notebook.ui.notebook.update', { slug: item.slug }) }}" title="Edit {{ item.name }}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
{% if is_granted('notebook.delete', item) %}
				<a href="{{ url('app_module_notebook.ui.notebook.delete', { slug: item.slug }) }}" title="Delete {{ item.name }}"><span class="glyphicon glyphicon-trash"></span></a>
{% endif %}
			</td>
		</tr>
{% else %}
		<tr>
			<td colspan="2">
				There is no notebooks.
				
{% if is_granted('notebook.create') %}
				<a href="{{ url('app_module_notebook.ui.notebook.create') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create first one!</a>
{% endif %}
			</td>
		</tr>
{% endfor %}
	</tbody>
</table>

<div class="navigation">
	{{ knp_pagination_render(itemsPagination) }}
</div>

{% endblock %}
